
#siteFeedback, .dialogContent {
    overflow: auto;
}

#siteFeedback #siteFeedbackDialog {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: none;
}

#siteFeedback {
  font-size:16px !important;
  font-family: 'Open Sans', sans-serif !important;
  height:100% !important;
  width:100% !important;
  margin: 0 !important;
  padding:0 !important;
  font-weight:normal !important;
  line-height:normal !important;
  color:#000 !important;
}

#siteFeedbackDialog {
    width: 370px;
    height: 420px;
    background-color: #fff;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

#siteFeedback .dialogContent {
    overflow: visible;
    font-size: 12px;
}

.extension-dialog .content #siteFeedbackView {
    background-color: #F3F4F7;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; 
}